html {
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    margin: 0;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(0px, 20rem)) minmax(1em, 1fr);
}

.main-section > *,
.info-section > *,
footer > *,
.header-content {
    grid-column: 2 / -2;
}

.footer-social-links {
    order: -1;
}

header {
    width: 100%;
    position: absolute;
}

.header-content {
    display: flex;
    align-items: flex-start;
}

nav {
    position: fixed;
    width: 100%;
    left: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    transition: left 250ms;
}

.navigation-open {
    left: 0;
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
}

a {
    text-decoration: none;
    font-weight: 700;
}

.nav-btn {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    background-color: transparent;
    border: 0;
    padding: .5em;
}

.close-nav-btn {
    grid-column: 2 / -2;
    justify-self: end;
}

.open-nav-btn {
    margin-left: auto;
}

.open-nav-btn,
.close-nav-btn {
    cursor: pointer;
}

.current-page {
    border-bottom: 1px solid #FFE600;
}
.main-section {
    padding: 8em 0 3em;
}

.info-section,
footer {
    padding: 2em 0;
}

.primary-color {
    color: #FFE600;
}

.logo-link {
    background-color: #FFE600;
    padding-top: 1.5em;
}

footer,
.info-section {
    text-align: center;
}

.info-section-col {
    margin-bottom: 1em;
}

.underline-title::after {
    content: "";
    display: block;
    width: 3rem;
    height: 3px;
    margin: .25em auto 0;
    background-color: #FFE600;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.4;
}

h2 {
    font-size: 1.125rem;
}

footer {
    background-color: #e2e2e2;
}

.footer-main {
    opacity: .6;
}

.footer-copyright {
    font-size: 0.85rem;
    margin-top: 4em;
}

.footer-social-links {
    margin-bottom: 2em;
}

.social-link {
    font-size: 1.75rem;
    color: black;
    margin: 0 .5em 0;
}

.social-link:hover {
    opacity: .6;
}

.nav-link {
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: #FFE600;
}

.nav-link:active {
    color: #b39358;
}

.main-section {
    color: white;
    background-color: black;
}

.main-section-text {
    font-size: 1.125rem;
    margin-bottom: 1.5em;
}

.btn {
    color: black;
    background-color: #FFE600;
    padding: 0.5em 1.5em;
    justify-self: start;
}

.btn:hover {
    background-color: #e9c121;
}

.btn:active {
    background-color: #b39358;
}
