html {
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(0px, 20rem)) minmax(1em, 1fr);
}

.main-section > *,
.info-section > *,
footer > *,
.header-content {
    grid-column: 2 / -2;
}

.footer-social-links {
    order: -1;
}

.header-content {
    display: flex;
}

a {
    text-decoration: none;
    font-weight: 700;
}

.primary-color {
    color: #FFE600;
}

footer,
.info-section {
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.4;
}

h2 {
    font-size: 1.125rem;
}

footer {
    background-color: #e2e2e2;
    opacity: .6;
}

.footer-copyright {
    font-size: 0.85rem;
}

.nav-link {
    font-weight: 700;
}

.main-section {
    color: white;
    background-color: black;
}

.main-section-text {
    font-size: 1.125rem;
}

.btn {
    color: black;
    background-color: #FFE600;
    padding: 0.5em 1.5em;
    justify-self: start;
}

.btn:hover {
    background-color: #e9c121;
}

.btn:active {
    background-color: #b39358;
}